<body>
    <header>
        <div class="card_wrap">
            <div class="card_inner">
                <div class="card">
                    <img src="~/img/ingre.png" class="card-img-top" style="width:270px; margin: auto; margin-top: 20px; margin-bottom:10px;">
                    <div class="card-body">
                        <h1 class="card-title mb-3">Ingredientes</h1>
                        <a asp-controller="Inventario" asp-action="Index" class="btn btn-primary">Detalle</a>
                    </div>
                </div>
            </div>

            <div class="card_inner">
                <div class="card">
                    <img src="~/img/menu.png" class="card-img-top" style="width:270px; margin: auto; margin-top: 20px; margin-bottom:10px;">
                    <div class="card-body">
                        <h1 class="card-title mb-3">Menú Rapido</h1>
                        <a href="#" class="btn btn-primary">Detalle</a>
                    </div>
                </div>
            </div>

            <div class="card_inner">
                <div class="card">
                    <img src="~/img/calendario.png" class="card-img-top" style="width:270px; margin: auto; margin-top: 20px; margin-bottom:10px;">
                    <div class="card-body">
                        <h1 class="card-title mb-3">Calendario</h1>
                        <a href="#" class="btn btn-primary">Detalle</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>

